.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-grid {
  display: inline-flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.courses-list {
  flex: 1;
  height: 100vh;
}

.channels-list {
  flex: 2;
  height: 100vh;
}

.text-window {
  flex: 3;
  height: 100vh;
}