body {
  overflow: hidden;
  background-color: #282c34;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-grid {
  display: inline-flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.courses-grid {
  flex: 0.70;
  height: 100vh;
  border-right: 1px solid white;
  padding-right: 30px;
  padding-left: 20px;
  resize: both;
  overflow: scroll;
}

.channels-list {
  flex: 1.5;
  height: 100vh;
  border-right: 1px solid white;
}

.text-window {
  flex: 3;
  height: 100vh;
}

.user-pfp {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url("user-pfp.png");
  height: 75px;
  width: 75px;
  align-self: center;
  border-radius: 50%;
  margin-bottom: 30px;
}

.courses {
  border: 1px solid white;
  border-radius: 25px;
  margin: 10px;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 27px;
}

.courses-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a.courses:hover {
  background-color: whitesmoke;
  color: black;
  border-color: #282c34;
}
img.user-pfp {
  margin: 5px;
  margin-top: 10px;
}

img.user-pfp:hover {
  opacity: 80%;
}

.class-info {
  margin: 7px;
}

.channels {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

a.channels-content > div {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 25px;
  margin: 5px;
  color: white;
}

a.channels-content > div:hover {
  background-color: white;
  border-color: #282c34;
  color: black;
}

div.text-window {
  overflow: scroll;
  font-size: 20px;
  margin: 8px;
  padding-right: 25px;
  padding-left : 10px;
}

a {
  text-decoration: none;
  color: orange;
}