.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-grid {
  display: inline-flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.courses-grid {
  flex: 1;
  height: 100vh;
  border-right: 1px solid white;
  padding-right: 30px;
  padding-left: 20px;
}

.channels-list {
  flex: 2;
  height: 100vh;
  border-right: 1px solid white;
}

.text-window {
  flex: 3;
  height: 100vh;
}

.user-pfp {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url("user-pfp.png");
  height: 75px;
  width: 75px;
  align-self: center;
  border-radius: 50%;
  margin-bottom: 30px;
}

.courses {
  border: 1px solid white;
  border-radius: 25px;
  margin: 10px;
  width: 100%;
  text-decoration: none;
  color: white;
}

.courses-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}